@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@100;200;400;500&display=swap');

body {
  margin: 0;
  color: #111111;
  font-size: 20px;
  line-height: 30px;
}

p{
    font-family: 'Quicksand', sans-serif;;
}

h1,
h2 {
  font-family: 'Press Start 2P', cursive;
}

h2 {
  font-size: 35px;
  color: #e70c19;
  margin: 40px 0 10px;
}

a {
  color: #e70c19;
}

a:hover {
  background-color: #483894;
  color: white;
}

header {
  background-color: #d14635;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1 {
  color: white;
  font-size: 50px;
}

header img {
  border-radius: 50%;
  border: 20px solid white;
}

main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

main img {
  max-width: 100%;
}

footer {
  background-color: #d14635;
  text-align: center;
  color: white;
  padding: 50px;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}

footer a:hover {
  opacity: 0.5;
  background-color: transparent;
}

main span {
  position: absolute;
  right: 142px;
  bottom: 432px;
  height: 50px;
  padding-bottom: 0;
  font-size: 50px;
}

main .span {
  position: absolute;
  right: 245px;
  top: 47px;
  height: 50px;
  padding-bottom: 0;
}

main .friend-span {
  position: absolute;
  right: 220px;
  bottom: 256px;
  height: 52px;
  width: 56px;
  padding-bottom: 0;
}

p.caption {
  color: #999999;
  font-style: italic;
  margin-top: 0;
}

ol li::marker {
  content: '\1F496 ';
}

ul li::marker {
  content: '\1F99A';
}

@media (max-width: 480px) {
  /* Styles */
  header img {
    border-radius: 50%;
    max-width: 50%;
    height: auto;
    border: 12px solid white;
  }

  header h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-left: 10px;
  }

  header {
    background-color: #d14635;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 16px;
  }

  h2 {
    font-size: 25px;
    color: #e70c19;
    margin: 10px 0 10px;
  }

  main span {
    position: absolute;
    right: 133px;
    bottom: 469px;
    padding-bottom: 0;
    font-size: 40px;
  }

  main .span {
    position: absolute;
    right: 43px;
    top: 22px;
    height: 45px;
    padding-bottom: 0;
  }

  main .friend-span {
    position: absolute;
    right: 3px;
    bottom: 272px;
    min-height: 57px;
    width: 59px;
    padding-bottom: 0;
    font-size: 30px;
  }
}

@media(max-width: 320px){
    header h1 {
        color: white;
        font-size: 15px;
        text-align: center;
        padding-left: 10px;
    }

    h2 {
        font-size: 15px;
        color: #e70c19;
        margin: 10px 0 10px;
    }

    main .span {
        position: absolute;
        right: 43px;
        top: 22px;
        height: 45px;
        padding-bottom: 0;
        font-size: 30px;
    }

    main p.resizing{
        margin: 15px 0;
    }

    main h2.h2-resize{
        font-size: 13px;
    }

    p {
        line-height: 27px;
        font-size: 17px;
        margin: 10px 0;
    }

    main span {
        position: absolute;
        right: 27px;
        bottom: 473px;
        padding-bottom: 0;
        font-size: 28px;
    }

    main .friend-span {
        position: absolute;
        right: 58px;
        bottom: 306px;
        height: 36px;
        width: 36px;
        padding-bottom: 0;
        font-size: 25px;
    }
    main {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        padding: 16px;
    }
}